# tool
ruff

# dumper
frozendict
genson
datamodel-code-generator

# proxy
mitmproxy==11.1.0

# naagin
async-lru
aiopath
cryptography
rich
pydantic
pydantic-settings
sqlparse
asyncpg
sqlalchemy
httpx
starlette
fastapi[standard]
# !httptools
