# dumper
frozendict
genson
datamodel-code-generator

# proxy
mitmproxy
cryptography
rich

# naagin
async-lru
aiopath
pydantic
pydantic-settings
sqlalchemy
httpx
fastapi
uvicorn==0.19

# driver
aiosqlite
asyncpg
