# dumper
frozendict
genson
datamodel-code-generator

# proxy
mitmproxy

# naagin
async-lru
aiopath
cryptography
pydantic
pydantic-settings
asyncpg
sqlalchemy
httpx
starlette
fastapi[standard]
# !httptools
